body {
  background-color: mediumpurple;
  font-family: "Roboto", sans-serif;
  color: white;
}
h2 {
  font-weight: 100;
  font-size: 24px;
}
.task {
  display: flex;
  align-items: center;
}
#pending-container {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}
.remove-button {
  height: 20px;
  margin: 10px;
}
.check-box {
  margin: 10px;
}
