body {
  background-color: mediumpurple;
  font-family: "Roboto", sans-serif;
  color: white;
}
h2 {
  font-weight: 100;
  font-size: 24px;
  margin-left: 10px;
}
.top {
  display: flex;
  align-items: center;
}
#input-box {
  font-size: 18px;
  margin: 10px 10px;
  border-radius: 0px;
  border: none;
  padding: 1px;
}
.task {
  display: flex;
  align-items: center;
  width: 300px;
  background-color: white;
  color: mediumpurple;
  font-size: 16px;
  margin: 5px;
  width: 300px;
}
.task p {
  flex-grow: 1;
  text-align: left;
}
#pending-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}
#completed-container {
  flex-grow: 1;
}
.remove-button {
  height: 20px;
  margin: 10px;
  justify-self: flex-end;
}
.check-box {
  appearance: none;
  margin: 10px;
  background-color: white;
  border: 1px solid mediumpurple;
  height: 16px;
  width: 16px;
}
.check-box:checked {
  appearance: none;
  margin: 10px;
  background-color: mediumpurple;
  border: 1px solid mediumpurple;
  height: 16px;
  width: 16px;
}

.remove-button {
  border: none;
  background-color: white;
  color: mediumpurple;
  font-size: 12px;
}

.remove-button:hover {
  color: rgb(188, 154, 255);
}

#add-button {
  border: none;
  background-color: white;
  color: mediumpurple;
  font-size: 16px;
  padding: 2px 5px;
}

#add-button:hover {
  border: none;
  background-color: rgb(188, 154, 255);
  color: white;
  font-size: 16px;
}
