.photo-container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
}
.photo-card {
  width: 300px;
  height: 400px;
  margin: 10px;
}
.photo-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
