body {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  height: auto;
  justify-content: center;
  align-self: start;
  margin: 5px;
}
.tall {
  grid-row: span 2 / auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  column-gap: 10px;
  row-gap: 0px;
}

@media only screen and (min-width: 400px) and (max-width: 799px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
    column-gap: 10px;
    row-gap: 0px;
  }
}
@media only screen and (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 0px;
    justify-items: center;
    width: 100%;
  }
}
