body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}
#logo {
  height: 28px;
  background-color: mediumpurple;
  padding: 17px 22px 17px 22px;
}
.nav {
  height: 62px;
  background-color: white;
  display: flex;
  width: 100%;
}
.nav div {
  height: 62px;
}
.navL {
  font-weight: 700;
  font-size: 20px;
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 50px;
  padding: 0px 30px;
}
.navR {
  display: flex;
  margin: 0px 20px 0px 40px;
  width: 25%;
  align-self: center;
  justify-content: end;
}
.watch {
  background-color: red;
  color: white;
  width: 150px;
  padding: 0px 15px;
}
.fa-search {
  font-size: 36px;
  padding: 13px 0px;
}
#weatherbug {
  display: grid;
  width: 32px;
  place-items: center;
  margin: 0px 15px;
}
#weatherbug img {
  height: 26px;
}
#weatherbug p {
  margin: 0;
  text-align: center;
  padding-top: 5px;
  font-size: 22px;
  font-weight: 600;
}
#weatheralert {
  display: grid;
  width: 60px;
  place-items: center;
  margin: 0px 15px;
  align-items: center;
}
#weatheralert p {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 700;
  text-decoration: underline;
  font-size: 10px;
}
#weatheralert i {
  font-size: 18px;
  padding-top: 10px;
  color: #b60806;
}
